@import 'src/Styles/variables';
@import 'src/Styles/mixins';

#products {
  margin: 0;
  
  .paginationBtns {
    height: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 80%;

    & a {
      border: 1px solid blue;
      border-radius: 5px;
      color: blue;
      cursor: pointer;
      padding: 10px;
      margin: 8px;
    }
  }

  .paginationActive a {
    background-color: $primary;
  }
}