body {
  background: rgb(2,0,71);
  background: linear-gradient(
    180deg, 
    rgba(20,122,165,1) 0px, 
    rgba(20,122,165,1) 500px,
    rgba(2,0,71,1) 501px,
  );
  margin: 0 auto;
  height: 4000px; // temp
}

#root {
  margin: 0 auto;
  max-width: 1280px;
}

.grecaptcha-badge { 
  visibility: hidden;
}